<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	   ">

	<dubbo:application name="sms-demo" />

	<dubbo:registry address="N/A" />
	
	<dubbo:protocol name="http" port="8080" server="servlet" contextpath="http" />
	<!--<dubbo:protocol name="rest" port="8888" server="tjws" contextpath="rest"/>-->
	<dubbo:protocol name="rest" port="8888" contextpath="rest"/>

	<dubbo:service interface="cn.jpush.services.sms.SmsService" ref="smsService" protocol="http"></dubbo:service>
	<dubbo:service interface="cn.jpush.services.sms.SmsRestService" ref="smsRestService" protocol="rest" validation="true" timeout="2000"></dubbo:service>
</beans>
